# SPDX-License-Identifier: GPL-2.0
# Opt-in profile: expose verified sprd_vcom AT ports to ModemManager.
ACTION!="add|change|move|bind", GOTO="mm_sprd_vcom_end"

SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="?*", ENV{.MM_USBIFNUM}="$attr{bInterfaceNumber}"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1782", ATTRS{idProduct}=="000c", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_DEVICE_PROCESS}="1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1782", ATTRS{idProduct}=="000c", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_PORT_TYPE_AT_PRIMARY}="1"

LABEL="mm_sprd_vcom_end"
